<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.scau.riotgame">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".RiotGameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".launcher.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".setting.AboutRiotGameActivity"
            android:label="关于掌盟"/>
        <activity
            android:name=".setting.MsgPushSettingActivity"
            android:label="消息推送设置"/>
        <activity
            android:name=".setting.SecretSettingActivity"
            android:label="隐私设置"/>
        <activity
            android:name=".setting.ClearCacheActivity"
            android:label="清空缓存"/>
        <activity
            android:name=".setting.FeedBackActivity"
            android:label="感谢你的意见"/>
        <activity
            android:name=".setting.SettingActivity"
            android:label="设置"/>
        <activity
            android:name=".hero.HeroInfoActivity"
            android:label="我的英雄圈"/>
        <activity
            android:name=".search.UserNearbyActivity"
            android:label="附近玩家"/>
        <activity
            android:name=".search.UserSearchActivity"
            android:label="召唤师查询"/>
        <activity
            android:name=".favorite.FavoriteActivity"
            android:label="我的收藏"/>
        <activity
            android:name=".setting.BindPhoneActivity"
            android:label="绑定手机号码"/>
        <activity
            android:name=".mall.UserOrderActivity"
            android:label="我的订单"/>
        <activity
            android:name=".wallpaper.WallPaperActivity"
            android:label="壁纸" />
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".home.MainActivity"/>

        <service android:name=".setting.DownloadService"/>


        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105966790"/>
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>